@(chatId: String, listMessageId: String, inputMessageId: String, sendMessageId: String)

<button class="btn position-absolute bottom-0 end-0" style="z-index:1;" data-bs-toggle="offcanvas"  data-bs-target="#@chatId" style="margin: 1%;">
    <i class="fa fa-comments"></i>
</button>

<div class="offcanvas offcanvas-end w-5 chat-canvas" tabindex="-1" id="@chatId" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title d-none d-sm-block" id="chatOffcanvas">Chat</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr class="chat-separator">
    <div class="offcanvas-body bg-light">
        <div class="list-group-flush bg-light chatbox" id="@listMessageId">

        </div>
    </div>
    <hr class="chat-separator">
    <div class="offcanvas-footer">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Send message"
            aria-label="Send message"
            name="message" id="@inputMessageId"/>
            <span class="input-group-append">
                <button type="button" class="btn btn-primary" id="@sendMessageId">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </span>
        </div>
    </div>
</div>
