@import play.mvc.Http.Request

@import views.html.helper.CSRF
@(canvasId: String)(implicit request: Request)


<div class="offcanvas offcanvas-end w-5" tabindex="-1" id="@canvasId" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title d-none d-sm-block" id="offcanvas">Projects List</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="input-group">
            <span class="input-group-text" id="filterproject-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Filter by name"
            aria-label="Filter by name" aria-describedby="filterproject-addon"
            name="filter" id="filter"/>
            <span class="input-group-append">
                <button type="button" class="btn btn-primary" id="addProject"
                onclick="openNewProject()" data-toggle="tooltip" data-placement="top" title="Create a new project">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
        <br>
        <ul class="list-group" id="projectsList">

        </ul>
    </div>
</div>

<script type="text/javascript">

        let filterProjectInput = document.getElementById("filter");
        let projectsListElements = document.getElementById('projectsList');

        let projectsList = [];

        filterProjectInput.addEventListener('input', function(e){
            updateProjectListElement(filterProjectInput.value);
        });

        getProjects();

        function setProjectsList(projects) {
            projectsList = projects;
            updateProjectListElement(filterProjectInput.value);
        }

        function removeProjectFromList(project){
            let projectIndex = projectsList.findIndex(p => p.id === project.id);
            projectsList.splice(projectIndex, 1);
            updateProjectListElement(filterProjectInput.value);
        }

        function updateProjectInList(project){
            let projectIndex = projectsList.findIndex(p => p.id === project.id);
            projectsList[projectIndex] = project;
            updateProjectListElement(filterProjectInput.value);
        }

        function addToProjectsList(project) {
            projectsList.push(project);
            updateProjectListElement(filterProjectInput.value);
        }

        function getProjects() {
            fetch('@routes.ProjectController.projects()', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': '@CSRF'
                }
            })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            setProjectsList(data.body);
                        }
                    })
        }

        function updateProjectListElement(nameFilter = "") {
            projectsListElements.innerHTML = '';
            projectsList
                    .filter(project => project.name.toLowerCase().includes(nameFilter.toLowerCase()))
                    .forEach(project => {
                        addProjectToListItem(project);
                    });
        }

        function addProjectToListItem(project) {
            let listItem = document.createElement('li');
            listItem.classList.add('list-group-item');
            listItem.classList.add('list-group-item-action');
            listItem.classList.add('d-flex');
            listItem.classList.add('justify-content-between');
            listItem.classList.add('align-items-center');
            listItem.onclick = function (e) {
                openProject(e, project);
            };

            let name = document.createElement('div');
            name.classList.add('overflow-hidden');
            name.innerHTML = project.name;

            let editButton = document.createElement('button');
            editButton.classList.add('btn');
            editButton.classList.add('btn-default');
            editButton.classList.add('btn-xs');
            editButton.classList.add('pull-right');
            editButton.setAttribute('data-toggle', 'tooltip');
            editButton.setAttribute('data-placement', 'top');

            editButton.onclick = function () {
                editProject(project);
            };

            if (isOwner(project)) {
                editButton.innerHTML = '<i class="fa fa-edit"></i>';
                editButton.setAttribute('title', 'Update project informations');
            } else {
                editButton.innerHTML = '<i class="fa fa-eye"></i>';
                editButton.setAttribute('title', 'Check project informations');
            }
            listItem.appendChild(name);
            listItem.appendChild(editButton);

            projectsListElements.appendChild(listItem);
        }

        function editProject(project) {
            updateProject(project);
            openProjectCreationModal();
        }

        function openProject(event, project) {

            if (event.target.nodeName !== 'LI') {
                return;
            }
            let url = "@routes.ProjectController.project("uuid")";
            url = url.replace("uuid", project.id);
            window.location.href = url;
        }

        function openNewProject() {
            newProject();
            openProjectCreationModal();
        }

        function openProjectListModal() {
            new bootstrap.Offcanvas(document.getElementById('@canvasId'), {focus: true}).show();
        }
</script>