@import play.mvc.Http.Request

@(modalId: String)(implicit request: Request)

<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Project informations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex bd-highlight">
                    <div class="p-2 bd-highlight">
                        <label for="projectName" class="col-form-label">Name</label>
                    </div>
                    <div class="p-2 bd-highlight flex-fill input-group">
                        <input type="text" id="projectName" class="form-control" >
                        <div id="projectnameFeedback" class="valid-feedback d-block" style="visibility: hidden;">
                            User has been added
                        </div>
                    </div>

                    <div class="p-2 bd-highlight">
                        <button class="btn btn-primary" id="createProject" onclick="createOrUpdateProject()"><i class="fa-solid fa-floppy-disk"></i></button>
                    </div>
                </div>
                <hr>
                <h6>Collaborators</h6>
                <div class="input-group" id="inviteCollaboratorBlock">
                    <input type="text" class="form-control" placeholder="Invite a collaborator"
                    aria-label="Invite a collaborator"
                    name="inputCollaborator" id="inputCollaborator"/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-primary" id="addCollaborator" onclick="addCollaborator()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                    <div id="collaboratorFeedback" class="invalid-feedback d-block" style="visibility: hidden;">
                        This user does not exist.
                    </div>
                </div>
                <ul class="list-group" id="collaboratorsList">
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div class="overflow-hidden">First item</div>
                        <button class="btn btn-default btn-xs pull-right">
                            <span class="fa fa-edit"></span>
                        </button>
                    </li>
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div class="overflow-hidden">First item</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button class="btn btn-default btn-xs">
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="deleteProject" class="btn-danger btn" onclick="deleteProject()">Delete</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
        let inputProjectName = document.getElementById('projectName');
        let buttonCreate = document.getElementById('createProject');
        let collaboratorBlock = document.getElementById('inviteCollaboratorBlock');
        let collaboratorList = document.getElementById('collaboratorsList');
        let inputCollaborator = document.getElementById('inputCollaborator');

        let deleteProjectButton = document.getElementById('deleteProject');

        let collaboratorFeedback = document.getElementById('collaboratorFeedback');

        let projectNameFeedback = document.getElementById('projectnameFeedback');

        const modal = new bootstrap.Modal(document.getElementById("@modalId"));

        const updateProjectURL = "@routes.ProjectController.update("uuid")";
        const deleteProjectURL = "@routes.ProjectController.delete("uuid")";
        const addCollaboratorURL = "@routes.ProjectController.addCollaborator("uuid")";
        const removeCollaboratorURL = "@routes.ProjectController.removeCollaborator("uuid")";
        const updateCollaboratorURL = "@routes.ProjectController.updateCollaborator("uuid")";

        let project = {};

        function newProject() {
            project = {};
            inputProjectName.value = '';
            buttonCreate.style.visibility = 'visible';
            collaboratorBlock.style.display = 'flex';
            collaboratorList.innerHTML = '';
        }

        function deleteProject() {
            if (confirm('Are you sure you want to delete this project?')) {
                fetch(deleteProjectURL.replace("uuid", project.id), {
                    method: 'DELETE'
                }).then(response => response.json()).then(data => {
                    if (data.success) {
                        removeProjectFromList(project);
                        closeProjectCreationModal();
                    } else {
                        alert(data.body);
                    }
                });
            }
        }

        function createOrUpdateProject() {

            let url = '';
            let method = 'POST';

            if (project.id === undefined) {
                method = 'POST';
                url = "@routes.ProjectController.create()";
            } else {
                method = 'POST';
                url = updateProjectURL.replace("uuid", project.id);
            }

            fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: inputProjectName.value
                })
            }).then(response => response.json()).then(data => {
                projectNameFeedback.style.visibility = 'visible';
                if (data.success) {
                    projectNameFeedback.innerHTML = project.id ? "Project updated" : "Project created";
                    projectNameFeedback.classList.remove('invalid-feedback');
                    projectNameFeedback.classList.add('valid-feedback');

                    if (project.id === undefined) {

                        addToProjectsList(data.body);
                    }

                    updateProject(data.body);
                    updateProjectInList(project);
                } else {
                    projectNameFeedback.innerHTML = data.body;
                    projectNameFeedback.classList.remove('valid-feedback');
                    projectNameFeedback.classList.add('invalid-feedback');
                }
            });
        }

        function updateProject(pro) {

            project = pro;

            let owner = isOwner(project);

            inputProjectName.value = project.name;

            inputProjectName.disabled = !owner;

            deleteProjectButton.style.display = owner ? 'block' : 'none';

            buttonCreate.style.visibility = owner ? 'visible' : 'hidden';
            collaboratorBlock.style.display = owner ? 'flex' : 'none';


            collaboratorList.innerHTML = '';
            for (let collaborator of project.collaborators) {
                addCollaboratorItem(project, collaborator);
            }

        }

        function addCollaborator() {
            if (project == null || project.id == null || inputCollaborator.value === '') {
                return;
            }

            fetch(addCollaboratorURL.replace('uuid', project.id), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: inputCollaborator.value
                })
            }).then(response => response.json()).then(data => {
                collaboratorFeedback.style.visibility = 'visible';
                if (data.success) {
                    collaboratorFeedback.classList.remove('invalid-feedback');
                    collaboratorFeedback.classList.add('valid-feedback');
                    collaboratorFeedback.innerHTML = 'Collaborator added successfully';
                    project.collaborators.push(data.body);

                    project.collaborators = project.collaborators.sort();

                    updateProject(project);
                } else {
                    collaboratorFeedback.classList.remove('valid-feedback');
                    collaboratorFeedback.classList.add('invalid-feedback');

                    collaboratorFeedback.innerHTML = data.body;
                }
            });
        }

        function addCollaboratorItem(project, collaborator) {
            let li = document.createElement('li');
            li.className = 'list-group-item list-group-item d-flex justify-content-between align-items-center';

            let div = document.createElement('div');
            div.className = 'overflow-hidden';
            div.innerHTML = collaborator.email;
            li.appendChild(div);

            let div2 = document.createElement('div');
            div2.className = 'pull-right';


            let buttonModify = document.createElement('button');
            buttonModify.className = 'btn btn-default btn-xs pull-right';
            buttonModify.onclick = function (e) {
                updateCollaboratorRights(project, collaborator);
            }
            if (collaborator.canWrite) {
                buttonModify.innerHTML = '<span class="fa fa-edit"></span>';
            } else {
                buttonModify.innerHTML = '<span class="fa fa-eye"></span>';
            }

            div2.appendChild(buttonModify);

            if (isOwner(project)) {

                let buttonDelete = document.createElement('button');
                buttonDelete.className = 'btn btn-default btn-xs pull-right';
                buttonDelete.innerHTML = '<span class="fa fa-trash"></span>';
                buttonDelete.onclick = function (e) {
                    removeCollaborator(project, collaborator);
                }
                div2.appendChild(buttonDelete);

            } else {
                buttonModify.disabled = true;
            }

            li.appendChild(div2);

            collaboratorList.appendChild(li);
        }

        function openProjectCreationModal() {
            modal.show();

            projectNameFeedback.style.visibility = 'hidden';
            collaboratorFeedback.style.visibility = 'hidden';
        }

        function closeProjectCreationModal() {
            modal.hide();
        }


        function isOwner(project) {
            let userId = '@request.session.get("userId")';
            let owner = project.collaborators.find(c => c.isOwner === true);
            return owner !== undefined && userId === owner.id
        }

        function removeCollaborator(project, collaborator) {

            if (project == null || project.id == null) {
                return;
            }

            fetch(removeCollaboratorURL.replace('uuid', project.id), {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: collaborator.id
                })
            }).then(response => response.json()).then(data => {
                collaboratorFeedback.style.visibility = 'visible';
                if (data.success) {
                    project.collaborators = project.collaborators.filter(c => c.id !== collaborator.id);
                    collaboratorFeedback.classList.remove('invalid-feedback');
                    collaboratorFeedback.classList.add('valid-feedback');
                    collaboratorFeedback.innerHTML = 'Collaborator removed successfully';
                    updateProject(project);
                } else {
                    collaboratorFeedback.classList.remove('valid-feedback');
                    collaboratorFeedback.classList.add('invalid-feedback');

                    collaboratorFeedback.innerHTML = data.body;
                }
            });

        }

        function updateCollaboratorRights(project, collaborator) {

            if (project == null || project.id == null) {
                return;
            }

            fetch(updateCollaboratorURL.replace('uuid', project.id), {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: collaborator.id
                })
            }).then(response => response.json()).then(data => {
                console.log(data);
                collaboratorFeedback.style.visibility = 'visible';
                if (data.success) {
                    project.collaborators.find(c => c.id === collaborator.id).canWrite = !collaborator.canWrite;
                    collaboratorFeedback.classList.remove('invalid-feedback');
                    collaboratorFeedback.classList.add('valid-feedback');
                    collaboratorFeedback.innerHTML = 'Collaborator rights updated successfully';
                    updateProject(project);
                } else {
                    collaboratorFeedback.classList.remove('valid-feedback');
                    collaboratorFeedback.classList.add('invalid-feedback');

                    collaboratorFeedback.innerHTML = data.body;
                }
            });

        }

</script>