@(id : Int)


@main("Chat") {

    <a href="@routes.HomeController.index()"></a>

    <input type="text" id="message" name="message"  />
    <button onclick="sendMessage()">Send</button>

    <script>
            const socket = new WebSocket('ws://localhost:9000/ws/@(id)');

            function sendMessage() {
                console.log("send")
                const message = document.getElementById('message').value;
                socket.send(message);
            }

            socket.onopen = function() {

                socket.onmessage = function(event){
                    console.log(event.data);
                };
            }
    </script>
}