@import controllers.UserController.Login
@import java.util
@import controllers.UserController.Signup

@(
        loginForm: Form[Login],
        signupForm: Form[Signup])(implicit request: Http.Request)


@main("Gryffinium") {

    @views.html.components.navbar("login-modal", "register-modal", "project-modal")

    @views.html.modals.login("login-modal", loginForm)

    @views.html.modals.register("register-modal", signupForm)

    @views.html.modals.project_list("project-modal")

    @views.html.modals.project_creation("project-creation-modal")

    @views.html.modals.chat("chat-modal", "chat-modal-input", "chat-modal-button")
}
