@import controllers.UserController.Login
@import java.util
@import controllers.UserController.Signup

@(
        loginForm: Form[Login],
        signupForm: Form[Signup])(implicit request: Http.Request)


@main("Gryffinium") {

    @views.html.components.navbar("login-modal", "register-modal", "project-modal")

    <div class="px-4 my-3 text-center">
        <img class="d-block mx-auto mb-4" src="@routes.Assets.versioned("images/logo.png")" alt="Logo" height="250">
        <h1 class="display-5 fw-bold">Gryffinium</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Quickly think and create classes diagrams with your team ! <br/>
                Live collaboration, easy to use, and no more time wasted to transfer files.<br/>
                All you need is here, manage your projects and grant who can see or contribute <br/> to your work in one click !
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="start()">Start Now !</button>
            </div>
        </div>
    </div>

    @views.html.modals.login("login-modal", loginForm)

    @views.html.modals.register("register-modal", signupForm)

    @if(request.session.get("userId").isDefined) {
        @views.html.modals.project_list("project-modal")

        @views.html.modals.project_creation("project-creation-modal")
    }

    <script type="text/javascript">
            function start() {

                @if(request.session.get("userId").isDefined) {
                openProjectListModal();
                } else {
                openLoginModal();
                }
            }
    </script>
}
