@import play.mvc.Http.Request

@(uuid: String, name: String)(implicit request: Request)

@main("Diagram") {

    @views.html.components.navbar("login-modal", "register-modal", "project-modal")

    @views.html.modals.chat("chat-modal", "list-message", "input-message", "button-send")

    @views.html.modals.project_list("project-modal")

    @views.html.modals.project_creation("project-creation-modal")


    <nav class="navbar navbar-default">

        <div>
            <div class="btn btn-sm navbar-btn">Class</div>
            <div class="btn btn-sm navbar-btn">Enum</div>
            <div class="btn btn-sm navbar-btn">Interface</div>
            <div class="btn btn-sm navbar-btn">Association Class</div>
            <div class="btn btn-sm navbar-btn">Generalization / Realization</div>
            <div class="btn btn-sm navbar-btn">Association</div>
            <div class="btn btn-sm navbar-btn">Aggregation</div>
            <div class="btn btn-sm navbar-btn">Composition</div>
            <div class="btn btn-sm navbar-btn">Mutli association</div>
            <div class="btn btn-sm navbar-btn">Inner class</div>
            <div class="btn btn-sm navbar-btn">Dependency</div>
                <!--<div class="btn btn-sm navbar-btn fa fa-lock"></div>-->
        </div>
    </nav>

    <div id="diagram">
        <div id="paper"></div>
    </div>

    <script type="module">

            import {createLink} from "@routes.Assets.versioned("javascripts/gryffinium.uml.js")"

            import {openWebSocket} from "@routes.Assets.versioned("javascripts/gryffinium.websocket.js")"

            const socket = new WebSocket('ws://localhost:9000/socket/@uuid');

            const messageInput = document.getElementById('input-message');
            const chat = document.getElementById('list-message');
            const buttonSend = document.getElementById('button-send');


            function sendMessage() {
                socket.send(JSON.stringify());


            }

            function receiveMessage(message) {
                let row = document.createElement('div');
                row.className = "row list-group-item bg-light";

                let div = document.createElement('div');
                div.classList.add('col');

                let sender = document.createElement('em');
                sender.innerHTML = message.sender;

                let content = document.createElement('div');
                content.innerHTML = message.message;

                div.appendChild(sender);
                div.appendChild(content);
                row.appendChild(div);

                chat.appendChild(row);
            }

            buttonSend.onclick = function () {
                let command = {
                    'message': messageInput.value,
                    'type': 'ChatMessage'
                };
                messageInput.value = '';
            };
            socket.onopen = function () {


                socket.onmessage = function (event) {
                    let message = JSON.parse(event.data);
                    receiveMessage(message);
                };

                socket.onclose = function () {
                    console.log('WebSocket closed');
                };
            }

            socket.onclose = function (e) {
                console.log(e);
            }

            let graph = new joint.dia.Graph();

            let paper = new joint.dia.Paper({
                el: document.getElementById('paper'),
                width: document.documentElement.clientWidth,
                height: document.documentElement.clientHeight,
                gridSize: 10,
                model: graph,
                drawGrid: true,
                interactive: {
                    labelMove: true,
                }
            });


            paper.on("blank:mousewheel", function (evt, x, y, delta) {
                evt.preventDefault();
                const oldScale = paper.scale().sx;
                const newScale = oldScale + 0.2 * delta * oldScale

                if (newScale > 0.2 && newScale < 5) {
                    paper.scale(newScale, newScale, x, y);
                    paper.translate(-x * newScale + evt.offsetX, -y * newScale + evt.offsetY);
                }
            });


            let dragStartPosition = null;

            paper.on('blank:pointerdown', function (event, x, y) {
                let scale = paper.scale();
                dragStartPosition = {x: x * scale.sx, y: y * scale.sy};
            });

            paper.on('cell:pointerup blank:pointerup', function (cellView, x, y) {
                dragStartPosition = null;
            });

            document.getElementById('diagram').addEventListener('mousemove', function (evt) {
                if (dragStartPosition) {
                    paper.translate(
                            evt.offsetX - dragStartPosition.x,
                            evt.offsetY - dragStartPosition.y);
                }
            });

            let verticesTool = new joint.linkTools.Vertices();
            let segmentsTool = new joint.linkTools.Segments();
            let sourceArrowheadTool = new joint.linkTools.SourceArrowhead();
            let targetArrowheadTool = new joint.linkTools.TargetArrowhead();
            let boundaryTool = new joint.linkTools.Boundary();
            let removeButton = new joint.linkTools.Remove();

            let toolsView = new joint.dia.ToolsView({
                tools: [
                    verticesTool, segmentsTool,
                    sourceArrowheadTool, targetArrowheadTool,
                    boundaryTool, removeButton
                ]
            });

            let uml = joint.shapes.uml;

            let person = new uml.Abstract({
                position: {x: 300, y: 300},
                size: {width: 100, height: 100},
                name: 'Person',
            });

            let woman = new uml.Class({
                position: {x: 150, y: 300},
                size: {width: 100, height: 100},
                name: 'Woamn'
            })

            let man = new uml.Class({
                position: {x: 500, y: 300},
                size: {width: 100, height: 100},
                name: 'man'
            })

            let test = new uml.Class({
                position: {x: 0, y: 300},
                size: {width: 100, height: 100},
                name: 'Test'
            })


            let aggregation = {type: 'aggregation', isDirected: false, source: woman, target: test}
            let composition = {type: 'composition', isDirected: true, source: man, target: test}
            let realization = {type: 'realization', source: woman, target: person}
            let association = {type: 'association', isDirected: true, source: woman, target: man}
            let generalization = {type: 'generalization', source: man, target: person}


            graph.addCells([
                woman,
                person,
                man,
                test,
                createLink(aggregation),
                createLink(composition),
                createLink(realization),
                createLink(association),
                createLink(generalization)]);


            paper.on('link:mouseenter', function (linkView) {
                linkView.addTools(toolsView);
            });

            paper.on('blank:mouseover', function () {
                paper.removeTools();
            });

    </script>
}