@import play.mvc.Http.Request

@(uuid: String, name: String)(implicit request: Request)

@main("Diagram") {

    @views.html.components.navbar("login-modal", "register-modal", "project-modal")

    @views.html.modals.chat("chat-modal", "list-message", "input-message", "button-send")

    @views.html.modals.project_list("project-modal")

    @views.html.modals.project_creation("project-creation-modal")


    <nav class="navbar navbar-default">

        <div>
            <div class="btn btn-sm navbar-btn" id="selectClass">Class</div>
            <div class="btn btn-sm navbar-btn" id="selectEnum">Enum</div>
            <div class="btn btn-sm navbar-btn" id="selectInterface">Interface</div>
            <div class="btn btn-sm navbar-btn" id="selectAssociationClass">Association Class</div>
            <div class="btn btn-sm navbar-btn" id="selectGeneralization">Generalization</div>
            <div class="btn btn-sm navbar-btn" id="selectRealization">Realization</div>
            <div class="btn btn-sm navbar-btn" id="selectAssociation">Association</div>
            <div class="btn btn-sm navbar-btn" id="selectAggregation">Aggregation</div>
            <div class="btn btn-sm navbar-btn" id="selectComposition">Composition</div>
            <div class="btn btn-sm navbar-btn" id="selectMultiAssociation">Mutli association</div>
            <div class="btn btn-sm navbar-btn" id="selectInnerClass">Inner class</div>
            <div class="btn btn-sm navbar-btn" id="selectDependency">Dependency</div>
        </div>
    </nav>

    <div id="diagram">
        <div id="paper"></div>
    </div>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="modifier" aria-labelledby="modifier-title" data-bs-backdrop="false" style="background-color: #F2F2F2">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="modifier-title" contenteditable="true">Modifier</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div id="modifierBody" class="offcanvas-body small d-flex row justify-content-evenly row">

        </div>
    </div>
    <span id="measure" style="display: none"></span>
    <script type="module">

            import {
                ElementType,
                Attribute,
                Method,
                Value,
                Constructor,
                Visibility
            } from "@routes.Assets.versioned("javascripts/gryffinium.uml.js")"


            const socket = new WebSocket('ws://localhost:9000/socket/@uuid');

            const messageInput = document.getElementById('input-message');
            const chat = document.getElementById('list-message');
            const buttonSend = document.getElementById('button-send');


            const elements = new Map();

            document.getElementById("selectClass").addEventListener("click", function () {
                selectedType = 'CLASS';
            });

            document.getElementById("selectEnum").addEventListener("click", function () {
                selectedType = 'ENUM';
            });

            document.getElementById("selectAssociationClass").addEventListener("click", function () {
                selectedType = 'ASSOCIATION_CLASS';
            });

            document.getElementById("selectInterface").addEventListener("click", function () {
                selectedType = 'INTERFACE';
            });

            document.getElementById("selectAssociation").addEventListener("click", function () {
                paper.options.defaultLink = new uml.Association();
            });

            document.getElementById("selectAggregation").addEventListener("click", function () {
                paper.options.defaultLink = new uml.Aggregation();
            });

            document.getElementById("selectComposition").addEventListener("click", function () {
                paper.options.defaultLink = new uml.Composition();
            });

            document.getElementById("selectRealization").addEventListener("click", function () {
                paper.options.defaultLink = new uml.Realization();
            });

            document.getElementById("selectGeneralization").addEventListener("click", function () {
                paper.options.defaultLink = new uml.Generalization();
            });

            document.getElementById("selectMultiAssociation").addEventListener("click", function () {
                selectedType = 'MULTIPLE_ASSOCIATION';
            });

            document.getElementById("selectInnerClass").addEventListener("click", function () {
                selectedType = 'INNER_CLASS';
            });

            document.getElementById("selectDependency").addEventListener("click", function () {
                selectedType = 'DEPENDENCY';
            });


            let selectedType = undefined;

            let modifier = document.getElementById("modifier");
            let modifierBody = document.getElementById("modifierBody");
            let modifierTitle = document.getElementById("modifier-title");

            let existingTypes = document.createElement("datalist");
            existingTypes.id = "existingTypes";
            document.body.appendChild(existingTypes);
            let String = document.createElement("option");
            String.value = "String";
            let Integer = document.createElement("option");
            Integer.value = "Integer";
            let Double = document.createElement("option");
            Double.value = "Double";
            let Boolean = document.createElement("option");
            Boolean.value = "Boolean";


            existingTypes.appendChild(String);
            existingTypes.appendChild(Integer);
            existingTypes.appendChild(Double);
            existingTypes.appendChild(Boolean);

            let measureText = document.getElementById("measure");

            let counter = 1;

            let selectedElement = undefined;

            let modifierOffCanvas = new bootstrap.Offcanvas(modifier);

            function generateModifierInterface() {
                if (selectedElement === undefined) {
                    modifierOffCanvas.hide()
                    return;
                }
                modifierOffCanvas.show()

                modifierBody.innerHTML = "";

                modifierTitle.innerHTML = selectedElement.get('name');
                modifierTitle.onblur = function () {
                    selectedElement.set('name', modifierTitle.innerHTML);
                    generateModifierInterface(selectedElement);
                }

                switch (selectedElement.getType()) {
                    case 'ENUM':
                        generateValuesInterface();
                    case 'CLASS':
                    case 'INTERFACE':
                        generateAttributesInterface();
                        generateMethodsInterface();
                        break;
                }


            }

            function generateAttributesInterface() {
                let attributesContainer = document.createElement("div");
                attributesContainer.className = "col-sm-auto";
                modifierBody.append(attributesContainer);
                let attributesScroller = document.createElement("div");
                attributesScroller.className = "table-wrapper-scroll-y my-custom-scrollbar";
                attributesContainer.append(attributesScroller);
                let attributesTable = document.createElement("table");
                attributesTable.className = "table table-bordered table-striped";
                attributesScroller.append(attributesTable);

                let attributesTableHead = document.createElement("thead");
                attributesTable.append(attributesTableHead);

                let titles = ["Attributes", "Types", "Visibility", "is constant", "Is static", "Action"];
                attributesTableHead.append(generateTableHeader(titles));

                let attributesTableBody = document.createElement("tbody");
                attributesTable.append(attributesTableBody);

                attributesTableBody.append(generateAddAttribute(titles, "Add a new attribute", function () {

                    let command = {
                        data: {
                            parentId: selectedElement.get('id'),
                            name: "attribute",
                            type: "string",
                            visibility: "private",
                            isStatic: false,
                            isConstant: false,
                        },
                        type: 'CreateCommand',
                        entityType: 'ATTRIBUTE'
                    };
                    sendMessage(command);
                }));

                for (let attribute of selectedElement.get('attributes')) {
                    attributesTableBody.append(generateAttributeRowInterface(selectedElement, attribute));
                }
            }

            function generateAttributeRowInterface(element, attribute) {
                let attributesTableBodyRow = document.createElement("tr");

                // Name
                attributesTableBodyRow.append(generateNameInterface(element, attribute, false, function (input) {
                    attribute.name = input.value;
                    element.updateAttribute(attribute);
                    generateModifierInterface();
                }));

                // Type
                attributesTableBodyRow.append(generateTypeInterface(element, attribute, false, function (input) {
                    attribute.type = input.value;
                    element.updateAttribute(attribute);
                    generateModifierInterface();
                }));


                // Visibility
                attributesTableBodyRow.append(generateVisibilityInterface(element, attribute, function (inputVisibility) {
                    attribute.setVisibility(inputVisibility.value);
                    element.updateAttribute(attribute);
                    generateModifierInterface();
                }));

                // Constant
                attributesTableBodyRow.append(generateIsConstantInterface(element, attribute, function (inputIsConstant) {
                    attribute.isConstant = inputIsConstant.checked;
                    element.updateAttribute(attribute);
                    generateModifierInterface();
                }));

                // Static
                attributesTableBodyRow.append(generateIsStaticInterface(element, attribute, function (inputIsStatic) {
                    attribute.isStatic = inputIsStatic.checked;
                    element.updateAttribute(attribute);
                    generateModifierInterface();
                }));

                // Action
                attributesTableBodyRow.append(generateActionButtonInterface(element, attribute,
                        function () {
                            let attributes = element.get('attributes');
                            let index = attributes.indexOf(attribute);
                            if (index > 0) {
                                let temp = attributes[index - 1];
                                attributes[index - 1] = element.get('attributes')[index];
                                attributes[index] = temp;
                                element.setAttributes(attributes);
                                generateModifierInterface();
                            }
                        }, // Up
                        function () {
                            let attributes = element.get('attributes');
                            let index = attributes.indexOf(attribute);
                            if (index < attributes.length - 1) {
                                let temp = attributes[index + 1];
                                attributes[index + 1] = element.get('attributes')[index];
                                attributes[index] = temp;
                                element.setAttributes(attributes);
                                generateModifierInterface();
                            }
                        }, // Down
                        function () {
                            let attributes = element.get('attributes');
                            let index = attributes.indexOf(attribute);
                            attributes.splice(index, 1);
                            element.setAttributes(attributes);
                            generateModifierInterface();
                        }  // Remove
                ));

                return attributesTableBodyRow;
            }

            function generateMethodsInterface() {
                let container = document.createElement("div");
                container.className = "col-sm-auto";
                modifierBody.append(container);
                let scroller = document.createElement("div");
                scroller.className = "table-wrapper-scroll-y my-custom-scrollbar";
                container.append(scroller);
                let table = document.createElement("table");
                table.className = "table table-bordered table-striped";
                scroller.append(table);

                let head = document.createElement("thead");
                table.append(head);

                let titles = ["Methods", "Return Types", "Visibility", "Is abstract", "Is static", "Action"];
                head.append(generateTableHeader(titles));

                let body = document.createElement("tbody");
                table.append(body);

                body.append(generateAddMethod(titles, "Add a new method or constructor", function (entityType) {

                    let command = {
                        data: {
                            parentId: selectedElement.get('id'),
                            name: entityType === 'METHOD' ? "method" : undefined,
                            visibility: "public",
                            type: "void",
                            isStatic: false,
                            isAbstract: false,
                        },
                        type: 'CreateCommand',
                        entityType: entityType
                    };
                    sendMessage(command);
                }));

                for (let constructor of selectedElement.get('constructors')) {
                    body.append(generateConstructorRowInterface(selectedElement, constructor));
                }

                for (let method of selectedElement.get('methods')) {
                    body.append(generateMethodRowInterface(selectedElement, method));
                }
            }

            function generateMethodRowInterface(element, method) {
                let row = document.createElement("tr");

                // Name
                row.append(generateNameInterface(element, method, false, function (input) {
                    method.name = input.value;
                    element.updateMethod(method);
                    generateModifierInterface();
                }));

                // Return type
                row.append(generateTypeInterface(element, method, false, function (input) {
                    method.type = input.value;
                    element.updateMethod(method);
                    generateModifierInterface();
                }));

                // Visibility
                row.append(generateVisibilityInterface(element, method, function (inputVisibility) {
                    method.setVisibility(inputVisibility.value);
                    element.updateMethod(method);
                    generateModifierInterface();
                }));

                // Constant
                row.append(generateIsConstantInterface(element, method, function (input) {
                    method.isAbstract = input.checked;
                    element.updateMethod(method);
                    generateModifierInterface();
                }));

                // Static
                row.append(generateIsStaticInterface(element, method, function (inputIsStatic) {
                    method.isStatic = inputIsStatic.checked;
                    element.updateMethod(method);
                    generateModifierInterface();
                }));

                // Action
                row.append(generateActionButtonInterface(element, method,
                        function () {
                            let methods = element.get('methods');
                            let index = methods.indexOf(method);
                            if (index > 0) {
                                let temp = methods[index - 1];
                                methods[index - 1] = methods[index];
                                methods[index] = temp;
                                element.setMethods(methods);
                                generateModifierInterface();
                            }
                        }, // Up
                        function () {
                            let methods = element.get('methods');
                            let index = methods.indexOf(method);
                            if (index < methods.length - 1) {
                                let temp = methods[index + 1];
                                methods[index + 1] = methods[index];
                                methods[index] = temp;
                                element.setMethods(methods);
                                generateModifierInterface();
                            }
                        }, // Down
                        function () {
                            let methods = element.get('methods');
                            let index = methods.indexOf(method);
                            methods.splice(index, 1);
                            element.setMethods(methods);
                            generateModifierInterface();
                        }  // Remove
                ));

                return row;
            }

            function generateConstructorRowInterface(element, constructor) {
                let row = document.createElement("tr");

                // Name
                row.append(generateNameInterface(element, constructor, true));

                row.append(document.createElement("td"));

                // Visibility
                row.append(generateVisibilityInterface(element, constructor, function (inputVisibility) {
                    constructor.setVisibility(inputVisibility.value);
                    element.updateConstructor(constructor);
                    generateModifierInterface();
                }));

                // Constant
                row.append(document.createElement("td"));

                // Static
                row.append(document.createElement("td"));

                // Action
                row.append(generateActionButtonInterface(element, constructor,
                        function () {
                            let constructors = element.get('constructors');
                            let index = constructors.indexOf(constructor);
                            if (index > 0) {
                                let temp = constructors[index - 1];
                                constructors[index - 1] = constructors[index];
                                constructors[index] = temp;
                                element.setConstructors(constructors);
                                generateModifierInterface();
                            }
                        }, // Up
                        function () {
                            let constructors = element.get('constructors');
                            let index = constructors.indexOf(constructor);
                            if (index < constructors.length - 1) {
                                let temp = constructors[index + 1];
                                constructors[index + 1] = constructors[index];
                                constructors[index] = temp;
                                element.setConstructors(constructors);
                                generateModifierInterface();
                            }
                        }, // Down
                        function () {
                            let constructors = element.get('constructors');
                            let index = constructors.indexOf(constructor);
                            constructors.splice(index, 1);
                            element.setConstructors(constructors);
                            generateModifierInterface();
                        }  // Remove
                ));

                return row;
            }

            function generateValuesInterface() {
                let container = document.createElement("div");
                container.className = "col-sm-auto";
                modifierBody.append(container);
                let scroller = document.createElement("div");
                scroller.className = "table-wrapper-scroll-y my-custom-scrollbar";
                container.append(scroller);
                let table = document.createElement("table");
                table.className = "table table-bordered table-striped";
                scroller.append(table);

                let head = document.createElement("thead");
                table.append(head);

                let titles = ["Value", "Action"];
                head.append(generateTableHeader(titles));

                let body = document.createElement("tbody");
                table.append(body);

                body.append(generateAddAttribute(titles, "Add a new value", function () {
                    let command = {
                        data: {
                            parentId: selectedElement.get('id'),
                            name: "value",
                        },
                        type: 'CreateCommand',
                        entityType: 'VALUE'
                    };
                    sendMessage(command);
                }));

                for (let value of selectedElement.get('values')) {
                    body.append(generateValueRowInterface(selectedElement, value));
                }
            }

            function generateValueRowInterface(element, value) {
                let row = document.createElement("tr");

                // Name
                row.append(generateNameInterface(element, value, false, function (input) {
                    value.name = input.value;
                    element.updateValue(value);
                    generateModifierInterface();
                }));


                // Action
                row.append(generateActionButtonInterface(element, value,
                        function () {
                            let values = element.get('values');
                            let index = values.indexOf(value);
                            if (index > 0) {
                                let temp = values[index - 1];
                                values[index - 1] = values[index];
                                values[index] = temp;
                                element.setValues(values);
                                generateModifierInterface();
                            }
                        }, // Up
                        function () {
                            let values = element.get('values');
                            let index = values.indexOf(value);
                            if (index < values.length - 1) {
                                let temp = values[index + 1];
                                values[index + 1] = values[index];
                                values[index] = temp;
                                element.setValues(values);
                                generateModifierInterface();
                            }
                        }, // Down
                        function () {
                            let values = element.get('values');
                            let index = values.indexOf(value);
                            values.splice(index, 1);
                            element.setValues(values);
                            generateModifierInterface();
                        }  // Remove
                ));

                return row;
            }

            function generateTableHeader(headers) {
                let headerRow = document.createElement("tr");

                for (let title of headers) {
                    let columnTitle = document.createElement("th");
                    columnTitle.className = "text-center";
                    columnTitle.innerHTML = title;
                    headerRow.append(columnTitle);
                }

                return headerRow;
            }

            function generateNameInterface(element, target, disabled, onblur) {
                let attributesTableBodyRowName = document.createElement("td");
                let inputName = document.createElement("input");
                inputName.disabled = disabled;
                inputName.className = "form-control form-control-sm form-control-plaintext input-sm text-center p-0";
                inputName.value = target.name;
                inputName.addEventListener("blur", function () {
                    onblur(inputName);

                });
                attributesTableBodyRowName.append(inputName);
                return attributesTableBodyRowName;
            }

            function generateTypeInterface(element, target, disabled, onblur) {
                let attributesTableBodyRowType = document.createElement("td");
                let inputType = document.createElement("input");
                inputType.disabled = disabled;
                inputType.className = "form-control form-control-sm form-control-plaintext input-sm text-center";
                inputType.value = target.type;
                inputType.setAttribute("list", existingTypes.id);
                inputType.placeholder = "Enter type";
                inputType.addEventListener("blur", function () {
                    onblur(inputType);
                });
                attributesTableBodyRowType.append(inputType);

                return attributesTableBodyRowType;
            }

            function generateVisibilityInterface(element, target, onchange) {
                let attributesTableBodyRowVisibility = document.createElement("td");
                let inputVisibility = document.createElement("select");

                inputVisibility.addEventListener("change", function () {
                    onchange(inputVisibility)
                });


                inputVisibility.className = "form-select input-sm text-center";
                let visbilityOptions = ["public", "private", "protected", "package"];
                for (let option of visbilityOptions) {
                    let optionElement = document.createElement("option");
                    optionElement.value = option;
                    optionElement.innerHTML = option;
                    if (Visibility.getVisibility(option) === target.visibility) {
                        optionElement.selected = true;
                    }
                    inputVisibility.append(optionElement);
                }
                attributesTableBodyRowVisibility.append(inputVisibility);

                return attributesTableBodyRowVisibility;
            }

            function generateIsConstantInterface(element, target, onchange) {
                let attributesTableBodyRowIsConstant = document.createElement("td");
                let inputIsConstant = document.createElement("input");
                inputIsConstant.className = "form-check-input";
                inputIsConstant.type = "checkbox";
                inputIsConstant.checked = target.isConstant;
                inputIsConstant.addEventListener("change", function () {
                    onchange(inputIsConstant);
                });

                attributesTableBodyRowIsConstant.append(inputIsConstant);
                return attributesTableBodyRowIsConstant;
            }

            function generateIsStaticInterface(element, target, onchange) {
                let attributesTableBodyRowIsStatic = document.createElement("td");
                let inputIsStatic = document.createElement("input");
                inputIsStatic.className = "form-check-input";
                inputIsStatic.type = "checkbox";
                inputIsStatic.checked = target.isStatic;
                inputIsStatic.addEventListener("change", function () {
                    onchange(inputIsStatic);
                    target.isStatic = inputIsStatic.checked;
                    element.updateAttribute(target);
                    generateModifierInterface();
                });
                attributesTableBodyRowIsStatic.append(inputIsStatic);
                return attributesTableBodyRowIsStatic;
            }

            function generateActionButtonInterface(element, target, up, down, remove) {
                let attributesTableBodyRowAction = document.createElement("td");

                let buttonUp = document.createElement("button");
                buttonUp.className = "btn btn-secondary btn-circle btn-sm";
                buttonUp.innerHTML = "<i class='fa fa-arrow-up'></i>";
                buttonUp.addEventListener("click", function () {
                    up();
                });
                attributesTableBodyRowAction.append(buttonUp);

                let buttonDown = document.createElement("button");
                buttonDown.className = "btn btn-secondary btn-circle btn-sm";
                buttonDown.innerHTML = "<i class='fa fa-arrow-down'></i>";
                buttonDown.addEventListener("click", function () {
                    down();
                });
                attributesTableBodyRowAction.append(buttonDown);

                let buttonDelete = document.createElement("button");
                buttonDelete.className = "btn btn-danger btn-circle btn-sm";
                buttonDelete.innerHTML = "<i class='fa fa-trash-can'></i>";
                buttonDelete.addEventListener("click", function () {
                    remove();
                });
                attributesTableBodyRowAction.append(buttonDelete);

                return attributesTableBodyRowAction;
            }

            function generateAddAttribute(headers, text, onclick) {
                let appendRow = document.createElement("tr");

                let rowText = document.createElement("td");
                rowText.setAttribute("colspan", (headers.length - 1).toString());
                rowText.innerHTML = text;
                appendRow.append(rowText);

                let rowAction = document.createElement("td");
                appendRow.append(rowAction);
                let buttonAdd = document.createElement("button");
                buttonAdd.className = "btn btn-primary btn-circle btn-sm";
                buttonAdd.innerHTML = "<i class='fa fa-plus'></i>";

                buttonAdd.onclick = function () {
                    onclick();

                }
                rowAction.append(buttonAdd);
                return appendRow;
            }

            function generateAddMethod(headers, text, onclick) {
                let appendRow = document.createElement("tr");

                let rowText = document.createElement("td");
                rowText.setAttribute("colspan", (headers.length - 1).toString());
                rowText.innerHTML = text;
                appendRow.append(rowText);

                let rowAction = document.createElement("td");
                appendRow.append(rowAction);
                let buttonAddMethod = document.createElement("button");
                buttonAddMethod.className = "btn btn-primary btn-circle btn-sm";
                buttonAddMethod.innerHTML = "<i class='fa fa-plus'></i>";

                let buttonAddConstructor = document.createElement("button");
                buttonAddConstructor.className = "btn btn-primary btn-circle btn-sm";
                buttonAddConstructor.innerHTML = "<i class='fa-solid fa-hammer'></i>";

                buttonAddConstructor.onclick = function () {
                    onclick('CONSTRUCTOR');
                }
                buttonAddMethod.onclick = function () {
                    onclick('METHOD');
                }
                rowAction.append(buttonAddMethod);
                rowAction.append(buttonAddConstructor);
                return appendRow;
            }

            function sendMessage(command) {
                socket.send(JSON.stringify(command));
            }

            function receiveChatMessage(message) {
                let row = document.createElement('div');
                row.className = "row list-group-item bg-light";
                row.className = "row list-group-item bg-light";

                let div = document.createElement('div');
                div.classList.add('col');

                let sender = document.createElement('em');
                sender.innerHTML = message.sender;

                let content = document.createElement('div');
                content.innerHTML = message.message;

                div.appendChild(sender);
                div.appendChild(content);
                row.appendChild(div);

                chat.appendChild(row);
            }

            buttonSend.onclick = function () {
                let command = {
                    'message': messageInput.value,
                    'type': 'ChatMessageCommand'
                };
                sendMessage(command)
                messageInput.value = '';
            };
            socket.onopen = function () {
                socket.onmessage = function (event) {
                    let message = JSON.parse(event.data);
                    switch (message.commandType) {
                        case 'ChatMessageCommand':
                            receiveChatMessage(message);
                            break;
                        case 'CreateCommand':
                            let elem = null;
                            let parent = null;
                            switch (message.elementType) {
                                case ElementType.Class.name:
                                    elem = new uml.Class({
                                        name: message.name,
                                        position: {
                                            x: message.x,
                                            y: message.y
                                        },
                                        size: {
                                            width: message.width,
                                            height: message.height
                                        },
                                        id: message.id,
                                    });
                                    break;
                                case ElementType.Interface.name:
                                    elem = new uml.Interface({
                                        name: message.name,
                                        position: {
                                            x: message.x,
                                            y: message.y
                                        },
                                        size: {
                                            width: message.width,
                                            height: message.height
                                        },
                                        id: message.id,
                                    });
                                    break;
                                case ElementType.Enum.name:
                                    elem = new uml.Enum({
                                        name: message.name,
                                        position: {
                                            x: message.x,
                                            y: message.y
                                        },
                                        size: {
                                            width: message.width,
                                            height: message.height
                                        },
                                        id: message.id,
                                    });
                                    break;
                                case ElementType.AssociationClass.name:
                                    // TODO AssociationClass
                                    break;
                                case ElementType.Generalization.name:
                                    break;
                                case ElementType.BinaryAssociation.name:
                                    break;
                                case ElementType.Aggregation.name:
                                    break;
                                case ElementType.Composition.name:
                                    break;
                                case ElementType.MultiAssociation.name:
                                    // TODO MutliAssociation
                                    break;
                                case ElementType.InnerClass.name:
                                    // TODO InnerClass
                                    break;
                                case ElementType.Dependency.name:
                                    // TODO Dependency
                                    break;
                                case ElementType.Attribute.name:
                                    let attribute = new Attribute(message.id, message.name, message.type, message.visibility.toLowerCase(), message.isConstant, message.isStatic);
                                    parent = elements.get(message.parentId);
                                    parent.addAttribute(attribute);
                                    if (parent === selectedElement) {
                                        generateModifierInterface();
                                    }
                                    break;
                                case ElementType.Method.name:
                                    let method = new Method(message.id, message.name, message.type, message.visibility.toLowerCase(), message.isAbstract, message.isStatic);
                                    parent = elements.get(message.parentId);
                                    parent.addMethod(method);
                                    if (parent === selectedElement) {
                                        generateModifierInterface();
                                    }
                                    break;
                                case ElementType.Constructor.name:
                                    let constructor = new Constructor(message.id, message.name, message.visibility.toLowerCase());
                                    parent = elements.get(message.parentId);
                                    parent.addConstructor(constructor);
                                    if (parent === selectedElement) {
                                        generateModifierInterface();
                                    }
                                    break;
                                case ElementType.Value.name:
                                    let value = new Value(message.value);
                                    parent = elements.get(message.parentId);
                                    parent.addValue(value);
                                    if (parent === selectedElement) {
                                        generateModifierInterface();
                                    }
                            }
                            if (elem != null) {
                                elements.set(elem.id, elem);
                                graph.addCell(elem);
                            }
                            break;
                        case 'UpdateCommand':
                            elements.get(message.id).setSizeAndPosition({
                                width: message.width,
                                height: message.height
                            }, {x: message.x, y: message.y});
                            break;
                        case 'Error':
                            console.log(message.message)
                            break;


                    }
                };

                socket.onclose = function () {
                    console.log('WebSocket closed');
                };
            }

            let uml = joint.shapes.uml;

            let graph = new joint.dia.Graph();

            let paper = new joint.dia.Paper({
                el: document.getElementById('paper'),
                width: document.documentElement.clientWidth,
                height: document.documentElement.clientHeight,
                gridSize: 10,
                model: graph,
                drawGrid: true,
                interactive: {
                    labelMove: true,
                },
                linkPinning: false,
                defaultConnector: {
                    name: 'jumpover',
                    size: 5,
                },
                defaultLink: new uml.Association(),

            });


            paper.on("blank:mousewheel", function (evt, x, y, delta) {
                evt.preventDefault();
                const oldScale = paper.scale().sx;
                const newScale = oldScale + 0.2 * delta * oldScale

                if (newScale > 0.2 && newScale < 5) {
                    paper.scale(newScale, newScale, x, y);
                    paper.translate(-x * newScale + evt.offsetX, -y * newScale + evt.offsetY);
                }
            });

            let resizingStartPos = null;
            let dragStartPosition = null;
            let moving = null;

            paper.on('blank:pointerdown', function (event, x, y) {
                selectedElement = undefined;
                generateModifierInterface();
                let scale = paper.scale();
                if (selectedType !== undefined) {

                    let command = {
                        data: {
                            x: x - 100,
                            y: y - 50,
                            width: 200,
                            height: 100,
                        },
                        type: 'CreateCommand',
                        entityType: selectedType
                    };

                    sendMessage(command);
                } else if (event.button === 1) {
                    dragStartPosition = {x: x * scale.sx, y: y * scale.sy};
                }
                selectedType = undefined;
            });


            paper.on('cell:pointerup blank:pointerup', function (cellView, evt, x, y) {
                dragStartPosition = null;
            });

            paper.on('blank:pointerup', function (event, x, y) {
                paper.removeTools();
            });

            paper.on('element:pointerdblclick', function (elementView) {
                elementView.model.trigger('change:autoresize')
            })

            document.getElementById('diagram').addEventListener('mousemove', function (evt) {
                if (dragStartPosition) {
                    paper.translate(
                            evt.offsetX - dragStartPosition.x,
                            evt.offsetY - dragStartPosition.y);
                }

                if (resizingStartPos) {
                    resizingStartPos(evt.offsetX, evt.offsetY);
                }
            });

            document.getElementById('diagram').addEventListener('mouseup', function (evt) {
                evt.preventDefault();
                if (resizingStartPos) {
                    sendMessage(resizingStartPos(evt.offsetX, evt.offsetY));

                    resizingStartPos = null;
                }
                if (moving) {
                    sendMessage({
                        reference: {id: moving.get('id')},
                        data: {
                            x: moving.get('position').x,
                            y: moving.get('position').y,
                            width: moving.get('size').width,
                            height: moving.get('size').height
                        },
                        type: 'UpdateCommand',
                        entityType: moving.getType(),
                    })
                    moving = null;
                }
            });


            let resizeLGrip = new joint.elementTools.Button({
                markup: [{
                    tagName: 'rect',
                    selector: 'button',
                    attributes: {
                        width: 10,
                        height: 10,
                        fill: '#777777',
                        cursor: 'w-resize'
                    }
                }],
                x: '0%',
                y: '50%',
                offset: {
                    x: -5,
                    y: -5
                },
                rotate: true,
                action: function (evt) {
                    let elem = this.model;
                    resizingStartPos = function (x, y) {

                        let coords = paper.snapToGrid(x, y);
                        let size = elem.attributes.size;
                        let position = elem.attributes.position;

                        let deltaWidth = position.x - coords.x;

                        if (size.width + deltaWidth <= 100)
                            deltaWidth = 0;

                        return elem.setSizeAndPosition(
                                {width: size.width + deltaWidth, height: elem.getHeight()},
                                {x: position.x - deltaWidth, y: position.y});
                    }
                }
            });
            let resizeRGrip = new joint.elementTools.Button({
                markup: [{
                    tagName: 'rect',
                    selector: 'button',
                    attributes: {
                        width: 10,
                        height: 10,
                        fill: '#777777',
                        cursor: 'e-resize'
                    }
                }],
                x: '100%',
                y: '50%',
                offset: {
                    x: -5,
                    y: -5
                },
                rotate: true,
                action: function (evt) {
                    let elem = this.model;
                    resizingStartPos = function (x, y) {
                        let size = elem.attributes.size;
                        let position = elem.attributes.position;

                        let coords = paper.snapToGrid(x, y);

                        let deltaWidth = coords.x - (position.x + size.width);

                        if (size.width + deltaWidth <= 100)
                            deltaWidth = 0;

                        return elem.setSizeAndPosition({width: size.width + deltaWidth, height: elem.getHeight()});

                    }
                }
            });

            let linkButton = new joint.elementTools.Connect({
                x: '100%',
                y: '0%',
                offset: {x: -5, y: -5},
                action: function (evt, _view, tool) {
                    return tool.dragstart(evt);
                }
            })

            let elementToolsView = new joint.dia.ToolsView({
                tools: [
                    new joint.elementTools.Boundary(),
                    new joint.elementTools.Remove(),
                    resizeLGrip,
                    resizeRGrip,
                    linkButton,


                ]
            });

            let myTargetArrowhead = new joint.linkTools.TargetArrowhead();
            let mySourceArrowhead = new joint.linkTools.SourceArrowhead();

            myTargetArrowhead.el.setAttribute('d', 'M -20, 0 a 6,6 0 1,0 12, 0 a 6,6 0 1,0 -12,0')
            myTargetArrowhead.el.setAttribute('stroke-width', '1')
            mySourceArrowhead.el.setAttribute('d', 'M 0, 0 a 6,6 0 1,0 12, 0 a 6,6 0 1,0 -12,0')
            mySourceArrowhead.el.setAttribute('stroke-width', '1')

            let linkToolsView = new joint.dia.ToolsView({
                tools: [
                    new joint.linkTools.Vertices(), new joint.linkTools.Segments(),
                    mySourceArrowhead, myTargetArrowhead,
                    new joint.linkTools.Boundary(), new joint.linkTools.Remove(),
                ]
            });

            paper.on('link:pointerdown', function (linkView) {
                paper.removeTools();
                linkView.addTools(linkToolsView);
            });

            paper.on('element:pointerdown', function (elementView) {
                paper.removeTools();
                elementView.addTools(elementToolsView);
                if (selectedElement === elementView.model)
                    return;
                selectedElement = elementView.model;
                for (let text of document.getElementsByClassName("uml-class-name-text")) {
                    for (let tspan of text.childNodes) {

                        tspan.addEventListener('click', function () {
                            console.log(tspan.innerText);
                        });
                    }
                }
                generateModifierInterface();

            });


            graph.on('change:position', function (cell) {
                moving = cell;
            })


    </script>
}