:root{
    --main-color: rgba(240,120,15,1);
}

body{
    overflow: hidden;
}

.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    opacity: 80%;
}

.offcanvas-body{
    overflow: auto;
}

.offcanvas-footer{
    align-items:center;
    padding: 1rem 1rem;
}

i{
    font-size: 1.2rem;
}

.chat-separator{
    margin: 0.2rem 0;
}

.offcanvas-body{
    padding:0.1rem 1rem;
}

.chatbox{
    margin-top: 0;
}

.chat-canvas{
    top: auto;
    height: 70%;
    min-height: 2rem;
    border-top: 1px solid rgba(0,0,0,.2);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.2);
}

.table-scrollable {
    display: block;

}

.table-scrollable tbody{
    display: block;
    height: 200px;
    overflow-y: scroll;
}

.btn-circle {
    width: 25px;
    height: 25px;
    padding: 2px 0px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
}

.btn-circle i{
    font-size: 1rem;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

th, td{
    text-align: center;
    max-width: 200px;
    vertical-align: middle;
    padding: 0.3rem 0.3rem!important;
}

.input-sm{
    max-width: 120px;
}