:root{
    --main-color: rgba(240,120,15,1);
}
.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    opacity: 80%;
}

.offcanvas-footer{
    align-items:center;
    padding: 1rem 1rem;
}

i{
    font-size: 1.2rem;
}

.chat-separator{
    margin: 0.2rem 0;
}

.offcanvas-body{
    padding:0.1rem 1rem;
}

.chatbox{
    margin-top: 0;
}

.chat-canvas{
    top: auto;
    height: 70%;
    min-height: 2rem;
    border-top: 1px solid rgba(0,0,0,.2);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.2);
}

